<h1>Idiot</h1>

<h2>Regler</h2>
<p>
  Idiot er et turbasert spill.
  Målet er å bli kvitt alle sine kort. Den siste som sitter igjen med kort, blir taperen.
</p>
<p>
  Alle spillere får utdelt 3 kort på hånden, 3 kort med bildet ned og 3 kort med bildet opp. Øvrige kort legges i en trekkbunke med bilde ned.
  Når spillet starter kan spillerne bytte kort fra hånden mot kort med bilde opp.
  Etter at alle spillere er ferdige med å bytte kort, begynner spilleren med det lavest kortet på hånden å legge ut kort på bordet.
</p>
<p>
  Man legger ut kort med verdi >= kortet som ligger på bordet. Hvis det ikke er noen kort på bordet, kan man legge ut hvilket som helst kort.
  Man kan legge ut ett eller flere kort med samme verdi. 
  Hvis man har mindre enn 3 kort på hånden etter å ha lagt ut, må man trekke inn sånn at man har 3 kort på hånden.  
</p>
<p>
  Hvis man ikke har noe kort å legge ut, kan man trekke et sjansekort fra trekkbunken (så lenge det er kort igjen i trekkbunken).
  Hvis man fortsatt ikke kan legge ut, må man trekke inn hele kastebunken.
</p>

<h2>Spesielle kort:</h2>
<h3>2</h3>
<p>2 kan legges på et hvilket som helst kort, og resetter tellingen.</p>
<h3>10</h3>
<p>
  10 kan legges på et hvilket som helst kort, og fjerner alle kort fra kastebunken. Kortene fjernes fra spillet.
</p>

<h3>4 like</h3>
<p>
  4 like kort (etter hverandre) fjerner også alle kort fra kastebunken.
</p>